.content-form {
  display: flex;
  justify-content: center;

}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 4px rgba(30, 58, 138, 0.3);
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  background-color: white;
  width: 80%;
}

.fila-formulario {
  display: flex;
  gap: 10px;
}

.formulario input {
  padding: 8px;
  font-size: 1rem;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  outline: none;
}

.formulario input:hover,
.formulario input:focus {
  border-color: #1E3A8A;
  box-shadow: 0 0 4px rgba(30, 58, 138, 0.3);
}

.formulario button {
  background-color: #1E3A8A;
  width: 120px;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
}

.formulario button:hover {
  background-color: #dadada;
  font-weight: bold;
  color: #1E3A8A;
  transform: translateY(-2px);
}

.mensaje-error {
  color: #e22b2b;
  font-size: 0.9em;
  margin-top: 5px;
}

@media only screen and (max-width: 1300px) {
  .formulario {
    width: 100%;
  }

  
}



@media only screen and (max-width: 450px) {
  .formulario {
    width: 100%;
  }

  .fila-formulario {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .formulario button {
    width: auto;
    
  }

  .formulario input {
    width: 100%;
  }

  

  
}