.sin-tareas {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 4px rgba(30, 58, 138, 0.3);
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    background-color: white;
    margin: 20px;
    color: #1E3A8A;
    
}

.contenedor-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2%;
    background-color: #fafafa;
}