.tarea {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(30, 58, 138, 0.3);
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    margin: 20px;
    width: 45%;       
    height: 170px;
    background-color:white;
}

 h2{
    font-size: 17px;
    color:#6d6e71;
 }

 .pendiente{
    font-size: 14px;
    color: #e22b2b;
 }

 .completado{
    font-size: 14px;
    color: #219304;
 }

.estado{
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.titulo{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    min-height: 50px;
}
.boton{
    width: 100%;
    text-align: right;
    
}
.bt-completar {
    background-color: #219304;
    color: white;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

.bt-eliminar {
    background-color: #a31414;
    color: white;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

.bt-completar:hover {
    background-color: #dadada;
    font-weight: bold;
    color: #219304;
    transform: translateY(-2px);
}

.bt-eliminar:hover {
    background-color: #dadada;
    font-weight: bold;
    color: #e22b2b;
    transform: translateY(-2px);
}

@media only screen and (max-width: 1142px) {
    .tarea {
        width: 90%;   
    }
  }